html {
	font-size: 62.5%;
    background-color: grey;
    margin: auto;

    /* font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;

    font-family: 'Cabin', sans-serif;
    font-size: 16px; */
}



nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    background-color: darkslategray;
    
}
.logo-links {
    flex: 1;
    font-size: 2.4em;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-links a {
    margin-right: 4em;
}
.nav-links a:last-of-type {
    margin-right: .5em;
}
nav img{
    width: 8rem; 
    height: auto;
    vertical-align: middle;
}

.link {
    font-size: 1.6rem;
}
.linka {
    font-size: 1.6rem;
}

footer{
    text-align: center;
}

.logo {
    transition: 0.3s ease-in-out;
    opacity: .7;
}  
.logo:hover {
    opacity: 1;
} 





   

   